/* All cosmetics */
/* body {
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  padding: 20px;
} */

#searchInput {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border: 2px solid #333;
}

.cosmetic-item {
  background: #1e1e1e;
  color: white;
  border-radius: 12px;
  text-align: center;
  padding: 10px;
  transition: transform 0.2s;
}

.cosmetic-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0,0,0,0.6);
}

.cosmetic-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 5px;
}

.add-to-locker {
  background: #00b7ff;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
}

.add-to-locker:hover {
  background: #0095d9;
}

.cosmetic-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Your locker */
.locker-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.locker-item {
  background: #1e1e1e;
  color: white;
  border-radius: 12px;
  text-align: center;
  padding: 10px;
  transition: transform 0.2s;
}

.locker-item:hover {
  transform: scale(1.05);
}

.locker-item img {
  width: 100%;
  border-radius: 10px;
}

.remove-button {
  background: #ff4040;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
}

.remove-button:hover {
  background: #d63333;
}

/* filter bar */
.filter-bar{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
    flex-wrap: wrap;
}

.filter-bar input, 
.filter-bar  select {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #555;
    color: #3e3e3e;
    font-size: 1rem;
}